 .u-section-1 {
  background-image: url("images/6b6b47b6769692c9d953d191e331fe628df95e5e4a8709b3b2835fa48635b02501393e9d718282f07158611a3d5bf8cec411feee45b39261ca7677_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 626px;
}

.u-section-1 .u-group-1 {
  width: 888px;
  height: auto;
  min-height: 388px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 30px;
}

.u-section-1 .u-text-1 {
  width: 803px;
  font-weight: 700;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 6px 12px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-1 .u-group-1 {
    width: 363px;
    min-height: 866px;
    margin: 30px -11px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-left: 1px;
    margin-right: 1px;
  }
}